/* Theme */
#switcher .theme-click {
background-color: #17ad94;
}
/* Buttons*/
.ra-btn {
	background-color: #17ad94;
}
.ra-btn:focus
{
    background-color: #17ad94;
}
.navbar-light .navbar-nav .nav-link:hover
{
    color: #17ad94;
}
.testimonials-content .fa-quote-right
{
   color: #17ad94;  
}

.offers .fa:hover
{
   color: #17ad94;
}

.contact input:focus,
.contact textarea:focus,
input[type=search]:focus 
{
    border-color: #17ad94;  
    box-shadow: none;
}

.contact-details .fa:hover,
.contact-details a:hover
{
    color: #17ad94; 
}

.footer ul li a:hover{
     color: #17ad94;
}

.ra-btn-bt
{
     background-color: #17ad94;
}
